


body {
	font-family: 'Open Sans', sans-serif;
	background: #ececec;
	font-size: 	14px;
	color: #000;
	min-width: 	320px;
}

img {
	max-width: 	100%;
	height: auto;	
}

h3 {
	font-size: 24px;
	font-weight: 700;	
}

.btn-red {
	background: #d51e08;
	color: #FFF;	
}

.btn-red:hover {
	background: #ec4835;
}

/* =================================header================================================= */

.menu-top .navbar {
	margin-bottom: 	0;
	background: #fff;
	padding: 20px 0;
	text-transform: uppercase;
			
}
.menu-top .navbar-default .navbar-nav > li > a {
	color: #000;
	padding-top: 5px;
	padding-bottom: 5px;
	transition: 0.3s;	
}

.menu-top .navbar-default .navbar-nav > li > a:hover {
	text-decoration: underline;	
}

.menu-top .navbar-default .navbar-nav > li> a.btn-red {
	color: #FFF;
	-webkit-border-radius: 3px;
		   	border-radius: 3px;
	background: #d51e08;
	padding: 6px 20px;
	    		
}

.menu-top .navbar-default .navbar-nav > li> a.btn-red:hover {
	text-decoration: none;
	background: #ec4835;
	
}

.menu-top .navbar-default .navbar-nav > li> a span.glyphicon {
	margin-right: 10px;	
	font-size: 17px;	
}

.menu-top .container,
.menu-top navbar-collapse {
	padding-left: 0;
} 

.flag {
	margin-right: 5px;	
	position: relative;
	top: -1px;
}

.menu-carousel {
	position: relative;
} 

.menu-carousel .item {
	min-height: 600px;	
}

.menu-carousel .bgslide {
	
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;			
}

.carousel.fade {
	opacity: 1;
}

.carousel.fade .item {
	opacity: 0;
	transition: opacity .7s;
	display: block;
	position: absolute;
	top: 0;	
	left: 0;
	width: 100%;
	z-index: 1;	
} 

.carousel.fade .item.active {
	opacity: 1;
	position: relative;
	z-index: 2;	
}

.menu-carousel .container {
	position: relative;
}	

.menu-carousel .carousel-caption {
	left: 0;
	right: 0;	
	top: 170px;	
}

.menu-carousel .carousel-caption .btn-red {
	padding: 20px 30px;
	-webkit-border-radius: 3px;
	        border-radius: 3px;	
	color: #FFF;
	font-size: 24px;
	display: inline-block;	
}

.menu-carousel .carousel-caption .btn-red:hover {
	text-decoration: none;	
}

.menu-carousel .carousel-caption h1 {
	font-weight: bold;	
	font-size: 48px;	
}

.menu-carousel .carousel-caption h3 {
	font-size: 30px;
	margin-bottom: 40px;		
}

.menu-carousel .carousel-control {
	z-index: 10;
}

.carousel-indicators-wrap {
	position: absolute;
	width: 100%;
	bottom: -25px;
	text-align: center;
}

.carousel-indicators-wrap .carousel-indicators {
	margin-left: 0;
	position: relative;
	left: 0;
	bottom: 0;
	display: inline-block;
	background: #FFF;
	width: auto;
	border: 1px solid #d2d2d2;
	padding: 5px 20px;
}

.carousel-indicators-wrap .carousel-indicators li {
	background: #d2d2d2;
	width: 10px;
	height: 10px;
	margin: 0 7px;
}

.carousel-indicators-wrap .carousel-indicators li:first-child {
	margin-left: 0;
}
.carousel-indicators-wrap .carousel-indicators li:last-child {
	margin-right: 0;
}

.carousel-indicators-wrap .carousel-indicators li.active {
	background: #a3a3a3;
}

.main-menu {
	position: absolute;
	z-index: 21;
	width: 100%;
	top: 30px;
}

.main-menu .navbar-inverse {
	background: transparent;
	border: none;
}

.main-menu .main-menuBg {
	background: #000;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
}

.main-menu .navbar-inverse .navbar-nav > li > a {
	color: #FFF;
	font-size: 16px;
	transition: background 0.5;
}

.main-menu .navbar-inverse .navbar-nav > li > a:hover {
	text-decoration: underline;
}

.menu-carousel	.main-menu .navbar-brand {
	padding: 0;
	margin-left: 22px;
}

.main-menu .navbar-brand > img {
	float: left;
}

.main-menu .navbar-brand span {
	display: inline-block;
	padding: 15px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
}

.search {
	position: absolute;
	color: #FFF;
	font-size: 22px;
	line-height: 50px;
	right: 30px;
	cursor: pointer;
	z-index: 30;
	display: none;
}




 /* -------------------------------------main-slogan------------------------------------------------- */

.main-slogan {
	background: #fff;
	text-align: center;
	padding: 50px 0;
	border-top: 1px solid #cfcfcf;
	border-bottom: 3px solid #dadada;
}

.main-slogan h2 {
	font-size: 30px;
	margin: 0;
}

/* ---------------------------------------main-content-------------------------------------------------*/

.main-content .sidebar {
	border-right: 3px solid #dadada;
	padding:  50px 0 70px;
}

.widget {
	border-bottom: 3px solid #dadada;
	padding-bottom: 30px;
	margin-bottom: 30px;		
}

.widget h3,
.content h3 {
	margin-top: 0;	
	margin-bottom: 30px;	
}

.widget ul {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;			
}

.widget ul li a {
	color: #000;
	font-size: 16px;
	line-height: 30px;
	display: block;		
		
}

.widget ul li.more a {
	color: #358ACD;
}

.sidebar #sidebar-carousel-caption {
	overflow: hidden;
	margin-bottom: 20px;
}

.sidebar .sidebar-carousel-caption {
	background: #FFF;
	border-bottom: 1px solid #e1e1e1;
	text-align: center;	
}

.sidebar .sidebar-carousel-caption div {
	padding: 20px;	
}

.sidebar .sidebar-carousel-caption h4 {
	margin-top: 0;
	font-weight: bold;	
	font-size: 14px;	
}

.sidebar .sidebar-carousel-caption p {
	margin-top: 0;	
	font-size: 12px;
	color: #5B5B5B;	
}

.sidebar .carousel-indicators {
	background: #FFF;
	position: relative;
	bottom: 0;
	left: 0;
	width: auto;
	margin-left: 0;	
	padding: 10px 0;					
}

.sidebar .carousel-indicators li {
	background: #9a9a9a;
	margin: 0 5px;	
}

.sidebar .carousel-indicators li.active {
	background: #5b5b5b;
	width: 10px;
	height: 10px;	
}

.sidebar .banner {
	background: #FFF;
	text-align: center;
	margin-bottom: 20px;
}

.sidebar .banner p,
.sidebar .banner h3 {
	text-transform: uppercase;
	margin: 0;
}

.sidebar .banner p {
	font-size: 18px;
}

.sidebar .banner h3 {
	font-size: 28px;
	font-weight: bold;
}

.sidebar .banner img {
	margin-bottom: 35px;
} 

.sidebar .banner a.btn-red {
	padding: 5px 30px;
	margin: 30px 0;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;	
	text-transform: uppercase;
	-webkit-border-radius: 3px;
	border-radius: 3px;				
	transition: all .5s;
}

.sidebar .banner a.btn-red:hover {
	color: #FFF;
	text-decoration: none;		
}

.sidebar .about {
	padding-right: 35px;	
}

.sidebar .about h3 {
	margin: 0 0 25px;
}

.sidebar .about p {
	color: #585858;	
}

.sidebar .about p span {
	color: #0A94B2;	
}

.content h3 {
	padding-left: 15px;	
}

.products-row {
	margin-bottom: 40px;	
}
.banner-row a {
	margin-bottom: 10px;
	display: block;	
}

.banner-row {
	margin-bottom: 25px;
	text-align: center;		
}

.product {
	background: #FFF;
	border: 1px solid #C0C0C0;
	padding: 25px 15px;
	text-align: center;
	position: relative;
	height: 452px;
	overflow: hidden;
	transition: all .5s
}

.product .product-buy {
	 position: absolute; 
	bottom: 28px;
	left: 0;
	text-align: center;
	width: 100%;				
}
.product:hover {
	-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, .5);
	        box-shadow: 0 0 16px rgba(0, 0, 0, .5);
} 
		

/* .product {
	background: #FFF;
	border: 1px solid #C0C0C0;
	padding: 25px 15px;
	text-align: center;
	position: relative;
	height: 352px;
	overflow: hidden;
	transition: all .5s;
}

.product:hover {
	overflow: visible;	
}

.product > div {
	width: 100%;
	position: absolute;	
	top: 0;	
	left: 0;
	background: #FFF;
	padding: 20px;
	-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, .5);
	        box-shadow: 0 0 16px rgba(0, 0, 0, .5);			
} */

.product .product-favorites {
	position: absolute;	
	top: 10px;	
	right: 20px;
}

.product .product-favorites span {
	color: #909090;	
	font-size: 20px;
	cursor: pointer;	
}

.product .product-sale {
	position: absolute;
	left: 15px;
	top: 15px;
	width: 50px;	
	height: 50px;
	border: 1px solid #d1d1d1;
	line-height: 47px;
	text-transform: uppercase;			
}

.product .product-img {
	height: 200px;
	width: 100%;	
	margin-bottom: 15px;	
}

.product-title a {
	font-weight: bold;
	font-size: 14px;
	color: #000;
	text-transform: uppercase;			
}

.product .product-desc {
	max-height: 60px;
	overflow: hidden;		
}

.product .product-price {
	font-size: 18px;	
	font-weight: bold;	
	color: #D51E08;
	margin-bottom: 15px;	
}

.product .product-buy .btn {
	text-transform: uppercase;
	padding: 10px 25px;
	-webkit-border-radius: 	2px;
	        border-radius: 	2px;
}

.product .product-buy {
	/* position: absolute; */
	bottom: 28px;
	left: 0;
	text-align: center;
	width: 100%;				
}

.product .product-buy .btn:hover {
	background: #ECECEC;	
}

.content {
	padding:  50px 0 70px;
}

/* ---------------------------------------------footer------------------------------------------- */	
.bottom-content {
	background: #f5f5f5;
	padding: 45px 0;
	border-bottom: 1px solid #9e9e9e;	
}

.bottom-content h3 {
	font-weight: 400;
	margin: 0;	
}

.bottom-content p {
	font-weight: 300;
	font-size: 18px;	
}

.bottom-content .form-inline .form-control {
	height: 50px;
	width: 100%;		
}

.bottom-content .form-inline .btn {
	height: 50px;
	padding-left: 50px;	
	padding-right: 50px;
	background: #E77553;
	font-size: 18px;
	font-weight: bold;
	color: #FFF;
	border: 1px solid #d96340;					
	border-bottom: 4px solid #d96340;
	transition: all .5s;
	width: 100%;
}

.bottom-content .form-inline .btn:hover {
	background: #d96340;		
}

.bottom-slider {
	background: #FFF;
	padding: 35px 0;					
}

.bottom-slider .elastislide-wrapper {
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.elastislide-wrapper nav span {
	left: 0;	
}

.elastislide-wrapper nav span.elastislide-next {
	right: 0;	
}

.elastislide-wrapper nav span {
	background: #ccc url(../img/nav.png) no-repeat 4px 3px;	
}

.footer-menuBlock .footer-menu {
	background: #343434;
	padding: 30px 0;		
}

.footer-menuBlock .footer-menu h5 {
	font-weight: bold;
	color: #8C8C8C;
	text-transform: uppercase;			
}

.footer-menuBlock .footer-menu ul {
	list-style-type: none;
	padding: 0;	
}

.footer-menuBlock .footer-menu ul li a {
	color: #C8C8C8;
	line-height: 22px;		
}

.footer-menuBlock .footer-menu .social-icons a {
	margin-right: 5px;	
}

.footer-menuBlock .footer-menu .social-icons a:last-child {
	margin-right: 0;	
}

.footer-menuBlock .footer-copyright {
	background: #FFF;
	padding: 25px 0;	
}


@media only screen and (min-width : 1200px) {
	.main-menu .navbar-form {
		display: block !important;
	}
}


@media only screen and (max-width : 1200px) {
	.menu-top .navbar-nav,
	 .main-menu .navbar-nav {
		float: none !important;
	}

	.menu-carousel .carousel-control {
		width: 10%;	
	}

	.menu-carousel .carousel-caption {
		left: 20%;
		right: 20%;
	}

	.main-menu .navbar-form {
		/* margin-left: 125px; */
		position: absolute;
		right: 15px;
		background: rgba(0, 0 ,0, 0.5);
		padding: 15px;
		margin: 0;
		-webkit-border-radius: 0 0 3px 3px;
		        border-radius: 0 0 3px 3px;
		display: none;
	}

	.search {
		display: block;
	}

	.sidebar .carousel,
	.sidebar .banner {
		margin-right: 10px;	
	}

	.sidebar .sidebar-item {
		margin-bottom: 20px;	
	}

	.footer-menuBlock .footer-menu .social-icons a {
		display: block;	
		margin-bottom: 3px;
		margin-right: 0;			
	}

		
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.menu-carousel .carousel-caption h1 {
		font-size: 40px;	
	}

	.menu-carousel .carousel-caption h3 {
		font-size: 22px;
	}

	.main-menu .navbar-inverse .navbar-nav > li > a {
		font-size: 14px;
		padding:  15px 10px;
	}

	/*---------- main-content ------------ */
	.main-content .sidebar {
		padding-top: 0;	
		padding-bottom: 0;
		border-right: 0;		
	}

	.sidebar .carousel,
	.sidebar .banner {
		margin-right: 0px;
		display: inline-block;		
	}

	.bottom-content .form-inline {
		margin-top: 20px;
	}

	.footer-menuBlock .footer-menu ul li a {
		display: block;	
	}

	.footer-menuBlock .footer-menu .social-icons a {
		display: inline-block;
		margin-right: 5px;
		margin-bottom: 0;			
	}

	.footer-copyright .pay {
		text-align: left;
	}

	.pay a {
		display: inline-block;
		margin-top: 5px;
	}

}

@media only screen and (max-width : 540px) {
	.main-content .sidebar .col-xs-6 {
		width: 100%;	
	}

	.sidebar .carousel,
	.sidebar .banner {
		display: inline-block;		
	}

	.bottom-content h3 {
		font-size: 20px;
	}

	.bottom-content p {
		font-size: 15px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.menu-top .navbar-default .navbar-nav > li > a:hover {
		background: #eee;
	}
	.menu-top .container,
	.menu-top navbar-collapse {
		padding-left: 15px;
	} 
	
	.menu-carousel .glyphicon-chevron-left:before,
	.menu-carousel .glyphicon-chevron-right:before {
		font-size: 0;	
	}

	.main-menu .container {
		padding-left: 0;
		padding-right: 0;
	}

	.search {
		display: none;
	}
	.content {
		padding-top: 20px;
		padding-bottom: 0;	
	}

	.product {
		margin-bottom: 10px;	
	}

	.products-row {
		margin: 20px 0;	
	}

	.bottom-content .form-inline .btn {
		width: 50%;
		padding-left: 20px;
		padding-right: 20px;
	}

}

@media only screen and (max-width : 767px) {
	.menu-top .navbar-default .navbar-nav > li > a:hover{
		background: #eee;
	}

	.menu-carousel .carousel-caption {
		left: 7%;
		right: 7%;
	}	

	.menu-top .container,
	.menu-top .navbar-collapse{
		padding-left: 15px;
	}

	.menu-carousel .glyphicon-chevron-left:before,
	.menu-carousel .glyphicon-chevron-right:before {
		font-size: 0;
	}

	.main-menu .navbar-inverse .navbar-nav > li > a:hover {
		text-decoration: none;
		background: #222;
	}

	.main-menu .navbar-form {
		margin: 8px 0;
		display: block !important; 
		position: relative;
		right: 0;
		background: transparent;
	}

	.main-menu .navbar-brand img {
		max-height: 50px;
		width: auto;
		
	}

	.main-menu .navbar-toggle.collapsed + .navbar-brand img {
		max-height: none;
		position: relative;
		z-index: 20;
		
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.menu-top .navbar {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.main-menu .navbar-brand span {
		padding: 15px 8px;
		font-size: 21px;
	}

	.menu-carousel .carousel-caption h1 {
		font-size: 34px;
	}

	.menu-carousel .carousel-caption h3 {
		font-size: 20px;
	}


	.menu-carousel .carousel-caption .btn-red {
		font-size: 20px;
		padding: 10px 15px;
	}

	.main-menu .navbar-toggle.collapsed + .navbar-brand img {
		max-width: 80px;
	}

	.bottom-content {
		padding: 25px 0px;		
	}

	.bottom-content p {
		font-size: 14px;
		color: 	#d96340;
		font-weight: 500;
		padding: 7px 0 0;	
	}
}




